{{#each cars as |car|}}
  {{log car}}
  <div class='carlist' data-id="{{car.id}}">
    <h6> Model:
       {{car.model}}
    </h6>
    <h6>Year:
       {{car.year}}
    </h6>
    <h6>Maintenance:
      {{#if car.repair}}
        {{car.repair}}
      {{else}}
        Empty
      {{/if}}
    </h6>
    <h6>Maintenance cost:
       {{#if car.rcost}}
        {{car.rcost}} $
      {{else}}
         0 $
      {{/if}}
    </h6>
    <h6>Insurance payment:
       {{#if car.insurance}}
        {{car.insurance}} $
      {{else}}
         0 $
      {{/if}}
    </h6>
    <h6>Fuel cost:
   {{#if car.gas}}
     {{car.gas}} $
   {{else}}
      0 $
   {{/if}}
 </h6>
 <!-- <h5>total:
{{#if car.total}}
  {{car.total}} $
{{else}}
   0 $
{{/if}} -->
</h5>
    <button type="button" class="btn btn-danger destroyCar" data-id={{car.id}}>Remove</button>
    <button type="button" class="btn btn-light updateCar" data-id={{car.id}}>Update</button>
  </div>
  {{/each}}
